@font-face {
    font-family: "Título";
    src: url(../Fuentes/RougeScript-Regular.ttf);
}
@font-face {
    font-family: "Textos";
    src: url(../Fuentes/Vidaloka-Regular.ttf);
}
@font-face {
    font-family: "Botones";
    src: url(../Fuentes/Tinos-Regular.ttf);
}
