//HEADER//
@media (max-width:990px){
    .navbar-nav{
        width: 120px;
        position: absolute;
        right: 1%;
        top: 1%;
        z-index: 1;
    }
    .tituloHeader{
        width: 0;
        height: 0;
        font-size: 0;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 0px;
        border-width: 0;
    }
}
@media (max-width:950px){
    .navbar-nav{
        width: 90px;
    }
}



//MQ INDEX//

@media (max-width:990px){
    .sectionIndex .container{
        width: 600px;
    }
}
@media (max-width:650px){
    .sectionIndex .container{
        width: 440px;
    }
    .form-control{
        max-width: 300px;
    }
}
@media (max-width:480px){
    .sectionIndex .container{
        width: 300px;}
    .form-control{
        max-width: 200px;
    }
    .realStateFooter{
        background-color: rgba(255, 255, 255, 0);
        color: #ffffff00;
        height: 0px;
        width: 0px;
    }
}


//MQ ALQUILERES//
@media (max-width:1400px){
    .grillaAlq{
        display: flex;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width:440px){
    .imgsAlq{
        height: 400px;
        margin: 20px 1px;
    }
    .pAlq{
        font-size: medium !important;
    }
}

//MQ VENTAS//
@media (max-width:1020px){
    .grillaVentas .imgVentas .textoVentas{
        font-size: medium;
    }
}
@media (max-width:768px){
    .grillaVentas .imgVentas .textoVentas{
        font-size:small;
    }
}
@media (max-width:450px){
    .grillaVentas .imgVentas .textoVentas{
        font-size:10px;
    }
}

//MQ CONTACTOS//
@media (max-width: 1160px){
    .alertaContacto{
        height: 390px;
        width: 130px;
        top: 67%;
    }
}

@media (max-width: 900px){
    .mapaIframe{
        max-width:400px;
    }
}

@media (max-width: 700px){
    .mapaIframe{
        max-height: 300px;
        max-width: 300px;
    }
    .alertaContacto{
        height: 260px;
        font-size: small;
    }
}

@media (max-width: 600px){
     .alertaContacto{
        display: none;
     }
     .contacto P{
        font-size: 13px;
     }
}

//MQ GALERÍA//
@media (max-width: 1400px){
    .grillaGal .row{
        flex-direction: column;
    }
}

@media (max-width: 500px){
    .grillaGal img{
        width: 300px;
        height: 330px;
    }
}